/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFF1AD;
  margin: 0 auto;
  position: static;
}

main {
  padding: 16px 16px;
  min-height: 100%;
  margin-bottom: -80px;
  max-width: 1000px;
  margin: 0 auto;
}

main:after {
    content: "";
    display: block;
    height: 80px;
}

.main-inner {
  /*text-align: center;
  padding-left: 100px;*/
  margin: 0 auto;
}

footer {
  /*position: absolute;*/
  height: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  /*padding: 1rem;*/
  background-color: #efefef;
  text-align: center;
}

.attribution {
  padding-top: 15px;
}

  .attribution img {
    width: 50px;
  }

#munch-minder-logo {
  padding-left: 25px;
  display: inline-block;
}

#munch-minder-logo img {
  max-width: 90px;
}


header {
  background-color: #B7FDA8;
}

.header-container {
  padding: 16px 16px;
  max-width: 1000px;
  margin: 0 auto;
}


.header-container h1 {
  margin-top: 0;
  padding-left: 10px;
  display: inline-block;

}

.nav-links {
  margin-top: 4px;
  margin-bottom: 0px;
}

.nav-links li {
  display: block;
  margin: 6px 10px;
}

.message {
  padding: 0 25px;
  line-height: 50px;
  border: 2px solid #fefefe;
  display: none;
  /*position: absolute;*/
  margin: 0 auto;
  width: fit-content;
}

.success {
  display: block;
  background: #eac55c;
  right: 350px;
}
.error {
  display: block;
  background: #ff6e6f;
}

.big-text {
  margin-right: 30px;
  margin-top: 40px;
}

.big-text, .food-icons-container {
  display: inline-block;
  vertical-align: top;
}

.big-text h2 {
  font-size: 2.5em;
  font-weight: 900;
  color: gray;
}

.big-text p {
  font-size: 1.2em;
}

.food-icons img {
  width: 130px;
  padding: 20px 20px;
}

.dragscroll {
  overflow: scroll;
  cursor: grab;
  cursor : -o-grab;
  cursor : -moz-grab;
  cursor : -webkit-grab;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content, .error-modal-content, #modal-avatar {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

.error-modal-content {
  z-index: 3;
}

#modal-avatar {
  width: 80%;
}

#ok-button {
  margin-left: 20px;
}
/* The Close Button */
  .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .close:hover,
  .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }

.demo-images img {
  border: 1px gray solid;
}

a {
  text-decoration: none;
}

/*a:hover {
  background-color: gray;
}*/

#login {
  /*display: inline-block;*/
  /*margin: 20px;*/
  margin: 0 auto;
  width: 90%;
}

.about-container {
  /*margin: 0 auto;*/
  max-width: 600px;
  padding-left: 40px;

}

.tutorial-container, .about-container {
    font-size: 1.1em;
}

#settings {
  display: inline-block;
  margin-left: 100px;
}

fieldset {
  border: gray solid 1px;
  padding: 14px 14px;
}

fieldset legend {
  font-size: 1.5em;
}

label {
font-weight: bold;
display: block;
float: left;
}

label:after {
  content: ":"
 }

#register {
  /*padding-left: 30px;*/
  margin: 0 auto;
  width: 90%;
}

/*.main-inner p {
  padding-left: 30px;
}*/

#munch-form label {
  width: 100px;
}

#settings label {
  width: 175px;
}

#register label {
  width: 140px;
}

#munch-thumb {
  display: inline-block;
}

#munch-thumb label {
  width: 130px;
}

#change-avatar-window {
  display: inline-block;
  margin-left: 75px;
}

#change-avatar-window img {
  width: 200px;
  margin-bottom: 10px;
}

#change-avatar-window button {
  display: block;
  margin: 6px auto;
}

#search-peeps-input, #munch-date {
  width: 100px;
}

input, textarea {
  margin: 6px 10px;
}

#display-munches, #display-peeps, #display-friend, #display-friends {
  max-height: 600px;
  white-space: nowrap;
}

.returned-munches, .returned-peeps {
  vertical-align: top;
  margin: 20px 10px;
  display: inline-block;
  max-width: 325px;
}
.munch-image, .munch-blurb, .peeps-image, .peeps-blurb {
  vertical-align: top;
  margin-right: 10px;
  max-width: 325px;
}

.munch-blurb, .peeps-blurb {
  padding-left: 20px;
  max-height: 225px;
  overflow-x: scroll;
}

  .munch-blurb p, .peeps-blurb p {
    white-space: normal;

  }

  .username {
    font-size: 1.5em;
    font-weight: bold;
  }

.munch-image img, .peeps-image img, .specific-munch-image img {
  max-width: 300px;
  max-height: 250px;
  margin: 0 auto;
  display: block;
}

#munch-title, #munch-description {
  width: 100px;
}

.thumbUp, .thumbDown {
  padding-right: 10px;
}

#avatar-form h1 {
  display: inline-block;
}

#avatar-button {
  display: inline-block;
  font-size: 1.1em;
}

.avatar-window {
  display: inline-block;
  margin: 10px 10px;
}

.avatar-window img {
  width: 100px;
}

.avatar-radio {
  text-align: center;
}

.peeps-image > img {
  width: 165px;
}

#user-avatar-window {
  display: none;
  float: right;
  margin-right: 125px;
}

#user-avatar-window img {
  width: 65px;
}

#user-avatar-window a {
  padding-top: 10px;
  display: block;
  text-align: center;
}



#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('http://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif?e44397') 50% 50% no-repeat rgb(249,249,249);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 400px) and (max-width: 640px){

  #search-peeps-input, #munch-title, #munch-description {
    width: 175px;
  }

  #munch-date {
    width: 150px;
  }
}


 @media screen and (min-width: 640px) and (max-width: 800px){

   #user-avatar-window {
    float: right;
    margin-right: 125px;
  }

  #search-peeps-input, #munch-title, #munch-description {
    width: 250px;
  }

  #munch-title, #munch-description {
    width: 350px;
  }

  #munch-date {
    width: 150px;
  }

  .nav-links li {
    display: inline-block;
  }

  #user-avatar-window{
    display: block;
  }
 }


 @media only screen and (min-width: 800px) {
   #search-peeps-input {
     width: 250px;
   }

   #munch-title, #munch-description {
     width: 500px;
   }

   .nav-links li {
     display: inline-block;
   }

   #user-avatar-window{
     display: block;
   }

   #munch-date {
     width: 150px;
   }
 }

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
